@import "form.scss";

$accent-color: #03a9f4;
$accent-gray: #dcdde1;

body {
  background-color: #f5f6fa;
}

.form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 400px;
  min-height: 280px;

  border-radius: 10px;
  background: white;
  padding: 30px;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.35s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.button {
  display: inline-block;
  margin: 8px auto;
  padding: 12px;
  border-radius: 24px;

  color: white;
  font-weight: bold;
  background-color: $accent-color;
  text-decoration: none;
  transition: box-shadow 0.25s ease;

  border: none;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.12);

  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
  }
}
